<%= render 'list', user: @user,book: @book_new %>
<h1>Book detail</h1>
  <p>ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム: <%= @book.user.name %></p>
  <p>title: <%= @book.title %></p>
  <p>Opinion: <%= @book.body %></p>

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
  <% end %>

  <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

  <% end %>